name: Custom Alpine Test WSL

on:
  workflow_dispatch:
  push:
    tags: [ 'AlpineTest-*' ]

permissions:
  contents: write

jobs:
  Build_Custom_RockyWSL:
    runs-on: windows-2025
    env:
      WSL_FILE: alpine-minirootfs-3.23.2-x86_64.tar.gz

    steps:
      - uses: actions/checkout@v6
      - name: Download Alpine Linux WSL
        shell: bash
        run: |
          curl -L -o ${WSL_FILE} https://dl-cdn.alpinelinux.org/alpine/v3.23/releases/x86_64/${WSL_FILE}

      - name: Import to WSL2 from tar.gz file
        shell: bash
        run: |
          mkdir AlpineBuilder
          wsl --import AlpineBuilder ./RockyBuilder ./${WSL_FILE} --no-launch --version 2

      - name: Test
        shell: bash
        run: |
          wsl -l -v
          wsl -d RockyBuilder -- bash -s <<'WSL_EOF'
            pwd
            id
            uname -a
          WSL_EOF
