name: Custom WSL

on:
  workflow_dispatch:
  push:
    tags: [ 'RockyLinuxBuilder-*' ]

permissions:
  contents: write

jobs:
  Build_Custom_RockyWSL:
    runs-on: windows-2025
    env:
      WSL_FILE: Rocky-10-WSL-Base-10.1-20251116.0.x86_64.wsl

    steps:
      - name: Download Rocky Linux WSL
        shell: bash
        run: |
          curl -L -o ${WSL_FILE} https://dl.rockylinux.org/pub/rocky/10.1/images/x86_64/${WSL_FILE}

      - name: Customize WSL rootfs
        shell: bash
        run: |
          BUILDER_FILE="${WSL_FILE%.wsl}-Builder.wsl"
          cp "${WSL_FILE}" "${BUILDER_FILE}"
          gunzip -c "${BUILDER_FILE}" > builder.tar
          tar -x -f builder.tar usr/libexec/wsl/oobe.sh
          sed -i 's/^read.*/username=zion/' usr/libexec/wsl/oobe.sh
          tar --delete -f builder.tar usr/libexec/wsl/oobe.sh
          tar -rf builder.tar usr/libexec/wsl/oobe.sh
          gzip -f builder.tar
          mv builder.tar.gz "${BUILDER_FILE}"
          rm -rf usr

      - name: Import to WSL2 from wsl file
        shell: bash
        run: |
          BUILDER_FILE="${WSL_FILE%.wsl}-Builder.wsl"
          mkdir RockyBuilder
          wsl --import RockyBuilder ./RockyBuilder ./${BUILDER_FILE} --version 2

      - name: RockyBuilder Prapare Environment
        shell: bash
        run: |
          BUILDER_FILE="${WSL_FILE%.wsl}-Builder.wsl"
          wsl -d RockyBuilder -- bash -s <<'WSL_EOF'
            echo $USER
          WSL_EOF

      - name: Release
        uses: softprops/action-gh-release@v2
        if: github.ref_type == 'tag'
        with:
          files: |
            *-Builder.wsl
