name: Test WSL2 on Windows 2025

on:
  workflow_dispatch:
  push:
    branches: [ main ]

jobs:
  test-wsl2-import:
    runs-on: windows-2025

    steps:
      - name: Download Rocky rootfs
        run: |
          echo "Downloading Rocky rootfs..."
          curl -L -o Rocky-10-WSL-Base.latest.x86_64.wsl https://dl.rockylinux.org/pub/rocky/10/images/x86_64/Rocky-10-WSL-Base.latest.x86_64.wsl

      - name: Import to WSL2
        run: |
          echo "Importing Rocky to WSL2..."
          mkdir rocky_base
          wsl --install --from-file ./Rocky-10-WSL-Base.latest.x86_64.wsl --no-launch

      - name: List installed WSL distributions
        run: wsl --list --verbose

      - name: Run test commands inside WSL2
        shell: bash
        run: |
          echo "Running uname and OS info in WSL2..."
          wsl -d rocky -- bash -c '
            cat /etc/wsl.conf
            ls -alh /mnt/d/a/wsl/wsl
            ls -alh /mnt/c
          '
      - name: Cleanup
        run: |
          echo "Cleaning up..."
          wsl --unregister rocky
