name: Test WSL2 on Windows 2025

on:
  workflow_dispatch:
  push:
    branches: [ main ]

jobs:
  test-wsl2-import:
    runs-on: windows-2025
    env:
      WSL_FILE: Rocky-10-WSL-Base-10.1-20251116.0.x86_64.wsl

    steps:
      - name: Download Rocky Linux WSL
        shell: bash
        run: |
          curl -L -o ${WSL_FILE} https://dl.rockylinux.org/pub/rocky/10.1/images/x86_64/${WSL_FILE}

      - name: Customize WSL rootfs
        shell: bash
        run: |
          BUILDER_FILE="${WSL_FILE%.wsl}-Builder.wsl"
          cp "$WSL_FILE" "$BUILDER_FILE"
          tar -xzf "$BUILDER_FILE" -k
          sed -i "s/^read.*/username=zion/" usr/libexec/wsl/oobe.sh
          tar --numeric-owner --format=posix -czf "$BUILDER_FILE" -h .
          ls -alh

      - name: Import to WSL2 from wsl file
        shell: bash
        run: |
          BUILDER_FILE="${WSL_FILE%.wsl}-Builder.wsl"
          mkdir RockyBuilder
          wsl --import RockyBuilder ./RockyBuilder ./${BUILDER_FILE} --version 2
          ls -alh

      - name: RockyBuilder Prapare Environment
        shell: bash
        run: |
          BUILDER_FILE="${WSL_FILE%.wsl}-Builder.wsl"
          echo "Preparing RockyBuilder environment..."
          wsl -d RockyBuilder -- bash -c "
            pwd
            ls -alh
            echo "${BUILDER_FILE}"
          "

      - name: Cleanup
        run: |
          echo "Cleaning up..."
          wsl --unregister rocky
